$text-color-primary: #444;

$background-default: #eee;
$background-sunny: #fbb632;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: $text-color-primary;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  background-color: $background-default;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-default;

  &.sunny {
    background-color: $background-sunny;
    transition: background-color 2s ease-out;
  }
}

.box {
  width: 20rem;
  box-sizing: border-box;

  &--inner {
    padding: 1.2rem;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    // box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);

    &-enter-done {
      height: 30rem;
      transition: height 240ms ease-in-out;
    }

    &__align-middle {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__full-height {
      height: 30rem;
    }

    .display {
      height: 100%;
      position: relative;
    }
  }
}

.m-0 {
  margin: 0;
}

.current-temperature {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;

  .calsius {
    line-height: 0rem;
  }
}

.loading-spinner {
  text-align: center;

  .svg {
    margin-bottom: 1rem;
  }

  .label {
    font-size: 1.4rem;
    font-weight: 400;
    color: #ddd;
  }
}

.currently {
  display: flex;
  width: 100%;
  animation: fadeIn 320ms ease-in-out;

  .col {
    flex: 1;

    &.location {
      text-align: left;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -0.04rem;
    }

    &.icon {
      padding-right: 0.4rem;
    }
  }

  .apparent {
    text-align: right;

    .col {
      flex: 1;
    }

    .temperature {
      display: flex;
      width: 100%;
      font-size: 2.8rem;

      .label {
        text-align: right;

        .number {
          font-weight: 700;
        }

        .degree {
          font-weight: 300;
        }
      }
    }

    .summary {
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.daily {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    width: 16rem;
    align-items: center;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.2rem;
    background-color: #fafafa;
    border-radius: 0.6rem;

    &.today {
      background-color: #eee;
    }

    .temperature {
      width: 6em;
      font-size: 0.8rem;
      font-weight: 300;
    }

    .icon {
      width: 8rem;
    }

    .day {
      display: flex;
      align-items: center;
      width: 16rem;
      font-size: 0.8rem;
      font-weight: 700;

      .label {
        text-align: left;
      }
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search {
  h1 {
    font-weight: 300;
  }

  &__hint {
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__form {
    // border: 1px solid red;

    &__input-group {
      display: flex;

      input {
        display: block;
        box-sizing: border-box;
        padding: 0.4rem;
        width: 100%;
        outline: none;
        font-size: 1.4rem;
        background-color: white;
        border: 1px solid #ddd;
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;

        &::placeholder {
          color: #ddd;
        }
      }

      button {
        display: block;
        width: 8rem;
        cursor: pointer;
        font-weight: 700;
        border: none;
        background-color: #ddd;
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
      }
    }
  }

  &__suggestions {
    margin: 0.4rem 0 0 0;
    padding: 0;
    list-style-type: none;
    border-radius: 0.4rem;
    border: 1px solid #ddd;

    :last-child {
      border-bottom: none;
    }

    li {
      display: flex;
      border-bottom: 1px solid #ddd;

      &:hover {
        background-color: #fafafa;
      }

      .flag,
      .name {
        padding: 0.8rem;
        display: flex;
      }

      :last-child {
        padding-left: 0;
      }
    }
  }
}
