// Color definitions

$color-light-grey: #ddd;
$text-primary: #444;
$text-inverted: white;
$border-light-grey: #ddd;
$background-default: #eee;
$background-almost-white: #fafafa;
$background-white: white;
$background-black: black;
$background-clear-day: #fbb632;
$background-clear-night: #0c154a;
$background-cloudy: #cbdbd7;
$background-rain: #d7d7d9;

$font-weight-base: 500;
$font-weight-light: 300;
$font-weight-bold: 700;

$unit: 0.4rem;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Mixins

@mixin align-middle() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($prop, $duration) {
  transition: $prop $duration ease-out;
}

@function rem($multi) {
  @return $unit * $multi;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Helpers

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// General classes

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: $font-weight-base;
  color: $text-primary;
  background-color: $background-default;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

main {
  @include align-middle;
  width: 100vw;
  height: 100vh;
  background-color: $background-default;

  &.clear-day,
  &.partly-cloudy-day {
    background-color: $background-clear-day;
  }

  &.clear-night,
  &.partly-cloudy-night {
    background-color: $background-clear-night;
  }

  &.cloudy,
  &.snow,
  &.wind,
  &.sleet {
    background: $background-cloudy;
  }

  &.rain {
    background: $background-rain;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.box {
  width: 20rem;

  &__inner {
    @include transition(height, 240ms);

    height: 14rem;
    padding: rem(3);
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: $background-white;

    &--loading {
      @include align-middle;
      height: 14rem;
    }

    &--search {
      height: 14rem;
    }

    &--display {
      height: 38rem;
    }

    .display {
      position: relative;
      height: 100%;

      .current-temperature {
        font-size: rem(15);
        font-weight: $font-weight-bold;
        text-align: center;
      }
    }

    .loading-indicator {
      text-align: center;

      .svg {
        width: rem(6);
        margin-bottom: rem(2);
      }

      .label {
        font-size: rem(3);
        font-weight: $font-weight-light;
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.currently {
  display: flex;
  width: 100%;
  animation: fadeIn 320ms ease-in-out;

  .col {
    flex: 1;

    &.location {
      text-align: left;
      font-size: rem(4);
      font-weight: $font-weight-bold;
      letter-spacing: -0.04rem;

      .edit-button {
        padding: rem(1);
        font-size: rem(1.5);
        font-weight: $font-weight-base;
        border: none;
        background-color: $background-default;
        border-radius: rem(1);
      }
    }

    &.icon {
      padding-right: rem(1);
    }
  }

  .apparent {
    text-align: right;

    .col {
      flex: 1;
    }

    .temperature {
      display: flex;
      width: 100%;
      font-size: rem(7);

      .label {
        text-align: right;

        .number {
          font-weight: $font-weight-bold;
        }

        .degree {
          font-weight: $font-weight-light;
        }
      }
    }

    .summary {
      font-weight: $font-weight-light;
      text-transform: uppercase;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.daily {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    width: 16rem;
    align-items: center;
    padding: rem(1) rem(2);
    margin-bottom: rem(1);
    background-color: $background-almost-white;
    border-radius: rem(1);

    &.today {
      background-color: $background-default;
    }

    .temperature {
      width: 6em;
      font-size: rem(2);
      font-weight: $font-weight-light;
    }

    .icon {
      width: 8rem;
    }

    .day {
      display: flex;
      align-items: center;
      width: 16rem;
      font-size: rem(2);
      font-weight: $font-weight-bold;

      .label {
        text-align: left;
      }
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.search {
  h1 {
    font-weight: $font-weight-light;
  }

  &__hint {
    margin-bottom: rem(4);
    font-size: rem(2);
    font-weight: $font-weight-bold;
  }

  &__form {
    position: relative;

    &__input-group {
      display: flex;

      .field {
        position: relative;

        input {
          position: relative;
        }

        .spinner {
          position: absolute;
          top: rem(1.2);
          right: rem(1.5);

          .loading-indicator {
            .svg {
              width: rem(3.2);
            }
          }
        }
      }

      input {
        display: block;
        box-sizing: border-box;
        padding: rem(1);
        outline: none;
        font-size: rem(3);
        border: 1px solid $border-light-grey;
        border-top-left-radius: rem(1);
        border-bottom-left-radius: rem(1);
        background-color: $background-white;

        &::placeholder {
          color: $color-light-grey;
        }
      }

      button {
        display: block;
        width: 8rem;
        cursor: pointer;
        font-weight: $font-weight-bold;
        border: none;
        background-color: $border-light-grey;
        border-top-right-radius: rem(1);
        border-bottom-right-radius: rem(1);
      }
    }
  }

  &__suggestions {
    position: absolute;
    top: 3rem;
    left: 0;
    margin-top: rem(1);
    padding: 0;
    list-style-type: none;
    border-radius: rem(1);
    border: 1px solid $border-light-grey;
    background-color: $background-white;

    :last-child {
      border-bottom: none;
    }

    li {
      display: flex;
      border-bottom: 1px solid $border-light-grey;

      &:hover {
        background-color: $background-almost-white;
      }

      .flag,
      .name {
        padding: rem(2);
        display: flex;
      }

      :last-child {
        padding-left: 0;
      }
    }
  }
}
