$text-color-primary: #444;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: $text-color-primary;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  background-color: #eee;
}

.sunny {
  background-color: #fbb632;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 20rem;
  box-sizing: border-box;

  &--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  }
}

.location__ {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 0.4rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;

  &::placeholder {
    color: #ddd;
  }

  &:focus {
    outline: none;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 0.4rem;
  }
}

.location-guess {
  margin-top: 1rem;
}

.m-0 {
  margin: 0;
}

.location {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

.current-temperature {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;

  .calsius {
    line-height: 0rem;
  }
}

.loading-spinner {
  text-align: center;

  .svg {
    margin-bottom: 1rem;
  }

  .label {
    font-size: 1.4rem;
    font-weight: 400;
    color: #ddd;
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
